[project]
	description = AngularJS module for validating credit cards
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramin Mahmoodi (raaspazasu)
[access "refs/for/refs/*"]
	read = group user/Ramin Mahmoodi (raaspazasu)
	push = group user/Ramin Mahmoodi (raaspazasu)
	label-Code-Review = -2..+2 group user/Ramin Mahmoodi (raaspazasu)
	label-Verified = -1..+1 group user/Ramin Mahmoodi (raaspazasu)
	rebase = group user/Ramin Mahmoodi (raaspazasu)
	removeReviewer = group user/Ramin Mahmoodi (raaspazasu)
	submit = group user/Ramin Mahmoodi (raaspazasu)
[access "refs/heads/*"]
	read = group user/Ramin Mahmoodi (raaspazasu)
	create = group user/Ramin Mahmoodi (raaspazasu)
	push = +force group user/Ramin Mahmoodi (raaspazasu)
	pushMerge = group user/Ramin Mahmoodi (raaspazasu)
[access "refs/tags/*"]
	push = +force group user/Ramin Mahmoodi (raaspazasu)
	pushTag = group user/Ramin Mahmoodi (raaspazasu)
	pushSignedTag = group user/Ramin Mahmoodi (raaspazasu)
